<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <table border="1">
            <tr>
                <td>Old Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Retype Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Change Password"></td>
                <td><input type="reset" value="Cancel"></td>
            </tr>
        </table>
    </form>
</body>
</html>