<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%csrf_token%}
    <form action="" method="post">
        <table border="1">
            <tr>
                <td>Si.No</td>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Address</td>
                <td>Photo</td>
                <td>Action</td>
            </tr>
            {% for i in civilengdata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.civileng_name}}</td>
                <td>{{i.civileng_email}}</td>
                <td>{{i.civileng_contact}}</td>
                <td>{{i.civileng_address}}</td>
                <td><img src="{{i.civileng_photo.url}}" width="150" alt=""></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>