<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subcategory</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>Category</td>
            <td><select name="Select" id="Category">
                <option value="">---Select-Category---</option>
            </select></td>
        </tr>
        <tr>
            <td>Subcategory</td>
            <td><input type="text" name="txt_Sub" id="txt_Sub"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Submit"></td>
           
        </tr>
    </table>
    <br>
    <table border="2">
        <tr>
            <td>si.no</td>
            <td>Category</td>
            <td>Subcategory</td>
            <td>Action</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>